<%- include("../partials/header")%>

<h2>Your Scores:</h2>
<%if (scores.length) {scores.map((score) => {%>
<div><%= score.totals %></div>
<div><%= score.holes %></div>
<% }) } else {%>
<div>No Scores Yet</div>
<% } %>

<a href="/scores/new">Click Here to add a new score</a>
