<%- include("../partials/header")%>
<h1>Submit your totals for the round</h1>

<form action="/scores/add" method="POST">
  <label>What was the total par for the course</label>
  <input type="number" name="totalPar" />
  <label>What was your total score for the round</label>
  <input type="number" name="totalScore" />
  <input type="submit" value="Add lastScore to scores Array" />
</form>
