<%- include("./partials/header")%>
<div>
  <div>
    <% if (user.clubs.length) {%>
    <a href="/scores/new">Add New Score</a>
    <br />
    <div>
      <% if (user.lastScore.totals.length) {%>
      <h3>Most recent Score</h3>
      <div>Par:</div>
      <div>
        <%= user.lastScore.totals[user.lastScore.totals.length -1].totalPar %>
      </div>
      <div>Total Score:</div>
      <div>
        <%= user.lastScore.totals[user.lastScore.totals.length -1].totalScore %>
      </div>

      <% } else { %>
      <div>No Scores yet</div>
      <% } %>
    </div>
    <br />
    <br />
    <%user.clubs.forEach((club) => { %>
    <div><%= club.name %></div>

    <%}) } else { %>
    <h2>Please enter clubs!</h2>
    <div>No Clubs yet</div>
    <% } %>
    <a href="/clubs">Enter Clubs</a>
  </div>
  <br />
</div>
