<%- include("./partials/header")%>
<div>
  <div>
    <div>Show Most recent Score</div>
    <a href="/scores/new">Add New Score</a>
  </div>
  <div>
    <div>Show Clubs List</div>
    <a href="/clubs">Update Clubs</a>
  </div>
</div>
