<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="login-wrapper">
        <h1>Welcome to <%= title %></h1>
        <p>
          This application is going to give you insight into the good and bad of
          your golf game!
        </p>
        <br />
        <p>Sign in using your google account to continue!</p>
        <div class="login-button-wrapper">
          <a href="/auth/google" class="login-button"
            >LOG IN&nbsp;<img
              class="login-img"
              src="https://i.imgur.com/FHjYyi0.png"
          /></a>
        </div>
      </div>
    </div>
  </body>
</html>
